<div id="divStore">
	<div class="articleList">
		<div class="article-title">
			<a>node.js轻博客应用</a>
		</div>
		<div class="article-tag">
			<label>标签：</label>
			<span>node.js 博客  应用</span>
		</div>
		<div class="article-content">
			今天一大早，你的leader就匆匆忙忙跑过来找到你：“快，快，紧急任务！最近ChinaJoy马上就要开始了，老板要求提供一种直观的方式，可以查看到我们新上线的游戏中每个服的在线人数。”
			你看了看日期，不是吧！这哪里是马上要开始了，分明是已经开始了！这怎么可能来得及呢？
		</div>
		<div class="article-info">
			2013-7-22 16:06:37评论(0)喜欢(0) 来自csdn，作者：哒哒哒
		</div>
	</div>
	<div class="articleList">
		<div class="article-title">
			<a>node.js轻博客应用</a>
		</div>
		<div class="article-tag">
			<label>标签：</label>
			<span>node.js 博客  应用</span>
		</div>
		<div class="article-content">
			今天一大早，你的leader就匆匆忙忙跑过来找到你：“快，快，紧急任务！最近ChinaJoy马上就要开始了，老板要求提供一种直观的方式，可以查看到我们新上线的游戏中每个服的在线人数。”
			你看了看日期，不是吧！这哪里是马上要开始了，分明是已经开始了！这怎么可能来得及呢？
		</div>
		<div class="article-info">
			2013-7-22 16:06:37评论(0)喜欢(0) 来自csdn，作者：哒哒哒
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    	$('#liStore').addClass('active');
    });
</script>



