<div class="divInfo">
	<dl class="dlInfo">
		<dt>
			用户名
		</dt>
		<dd>
			<input type="text" value="yajun.wu">
		</dd>
	</dl>
	<dl class="dlInfo">
		<dt>
			妮名
		</dt>
		<dd>
			<input type="text" value="荷花池">
		</dd>
	</dl>
	<dl class="dlInfo">
		<dt>
			个性签名
		</dt>
		<dd>
			<input type="text" value="你若盛开，清风自来。心若浮沉，浅笑安然。">
		</dd>
	</dl>
	<dl class="dlInfo">
		<dt>
			头像
		</dt>
		<dd>
			<input type="button" class="blogBtn" value="新头像">
			<input type="file">
		</dd>
	</dl>
	<div style="clear:both; background-color:#E6E6E6; padding:10px 160px; margin-top:10px;">
		<input type="button" style="" class="blogBtn blogBtn-primary" value="保存">
		<a href="/masterInfo" style="display:inline-block; margin-left:5px;"  class="blogBtn">返回</a>
		
	</div>
</div>